@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  color: white;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
}

body::-webkit-scrollbar{
  display: none;
}

#topbar {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding-block: 10px;
  position: fixed;
  border-block-end: 1px solid rgb(197, 170, 17);
  z-index: 99;
  align-items: center;
  justify-content: center;
  gap: 15vh;
  font-size: small;
  white-space: nowrap;
}

#nav {
  height: 145px;
  width: 100%;
  background-color: rgb(19, 19, 19);
  display: flex;
  align-items: center;
  /* padding: 0 150px; */
  padding-top: 30px;
  gap: 50px;
  position: fixed;
  justify-content: center;
  z-index: 98;
  white-space: nowrap;
}

#nav #button-sign-in {
  padding: 10px 30px;
  color: black;
  background-color: #f2c07f;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
}

#topbar .nav_logo {
  height: 13px;
  margin-right: 5px;
}

#topbar .nav_links {
  /* text-decoration: none; */
  color: #fff;
}

.background {
  position: relative;
  text-align: center;
  color: white;
  width: 100%
}

/* Hero Section */

#hero-button img{
  position: fixed;
  bottom: 15px;
  right: 6px;
  background-color: #f2c07f;
  z-index: 3;
  width: 110px;
  height: 110px;
  padding: 12px;
  scale: 0.55;
}

#hero-button #hero-button-text{
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 2;
  background-color: #f2c07f;
  padding: 5px;
  padding-top: 70px;
  font-size: 12px;
  color: black;
  font-weight: 600;
}

.hero-content {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.hero-content h6 {
  color: rgb(163, 141, 12);
  position: absolute;
  font-size: 16px;
  font-weight: 0;
  margin-bottom: 180px;
}

.hero-content h1 {
  position: absolute;
  font-size: 90px;
}

.hero-content p {
  position: absolute;
  font-size: 20px;
  margin-top: 180px;
  display: flex;
}

.hero-content button {
  position: absolute;
  z-index: 1;
  margin-top: 360px;
  padding: 20px 40px 20px 40px;
  border: 1px solid rgb(163, 141, 12);
  background-color: transparent;
  font-weight: 300;

  cursor: pointer;
}

/* Service Section */

.services {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(19, 19, 19);
  background-image: url(assets/images/shape-5.png);
  padding-top: 40px;
  padding-bottom: 40px;
  row-gap: 20px;
}

.services h6 {
  color: rgb(163, 141, 12);
  font-size: 16px;
  font-weight: 0;
}

.services h3 {
  font-size: x-large;
}

.services p {
  max-width: 590px;
  text-align: center;
  padding-bottom: 10px;
}
.services #services-img{
  display: flex;
  z-index: 1;
}

.services img{
  height: 356px;
  width: 255px;
  margin: 30px 40px 0 40px;
}

.services figcaption{
  margin-left: 127px;
  margin-top: 15px;
}

/*Reservation button*/
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  color: black;
  opacity: 0.95;

}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: black;
  background-image: url(assets/images/shape-1.png);

}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=tel], .form-container input[type=date] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  border-radius: 20px;
  color: black;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: white;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #f2c07f;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.95;
  border-radius: 20px;

}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.services button{
  border: 1px solid rgb(163, 141, 12);
  background-color: transparent; 
  width: 200px; 
  cursor: pointer;
}
.services button img{
  height: 80px;
  width: 180px;
  margin: 0px;
}

/* Our Story */

.about-us {
  background-color: rgb(0, 0, 0);
  width: 100%;
  padding: 78px 0px;
  background-color: black;
  background-image: url(assets/images/chef.webp);
  background-repeat: no-repeat;
  padding-left: 930px;
  padding-right: 50px;
}

.about-us h6 {
  color: rgb(163, 141, 12);
  font-size: 16px;
  font-weight: 0;
  margin-bottom: 40px;
}

.about-us h2 {
  font-size: x-large;
  margin-bottom: 40px;

}

.about-us p {
  
}

/* Footer */

.footer {
  background-color: black;
  background-image: url(assets/images/shape-1.png);
  opacity: 90%;
  text-align: center;
  padding-top: 50px;
  color: #fff;
}

.footer p {
  padding-top: 30px;
}

.footer a {
  color: #fff;
}

.footer form {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer .text {
  height: 60px;
  width: 300px;
  color: black;
  text-align: center;
}

.footer .submit {
  height: 60px; 
  color: black;
  text-align: center;
}
